.pokemon-list {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.card {
  transition: all ease-in-out 200ms;
}

.card:hover {
  cursor: pointer;
}

.card.pokemon-img:hover {
  width: 65%;
}
