.info-bg {
  position: fixed;
  background-color: #0000009e;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.card-container {
  position: relative;
  width: 350px;
  min-height: 60vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  overflow-y: auto;
}

.card-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.top-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.sub-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line-bg {
  position: absolute;
  height: 60px;
  width: 100%;
  top: 150px;
  background: #ffffff95;
}

.poke-name {
  align-self: flex-start;
}

.poke-img {
  max-width: 50%;
  height: auto;
  z-index: 4;
}

.info-section {
  margin-top: auto;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.info-padding {
  width: 80%;
  height: 100%;
  margin: 0 auto 1rem;
}

.info-nav ul {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.info-nav ul li {
  font-weight: 200;
}

.selected {
  font-weight: 700 !important;
}

.info-nav ul li:hover {
  cursor: pointer;
}

.info-nav ul li:after {
  transition: all ease-in-out 300ms;
  background: none repeat scroll 0 0 black;
  content: '';
  display: block;
  height: 2px;
  width: 0;
}

.info-nav ul li:hover:after {
  width: 100%;
}

.close-btn {
  width: 20%;
  margin: auto auto 1rem;
}
